@model EmployeeVM

@{
    ViewData["Title"] = "Employee";
}

<h1>Employee</h1>

<div>
    <h4></h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Firstname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Firstname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lastname)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lastname)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TRN)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TRN)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NIS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NIS)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Datestarted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Datestarted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateEnded)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateEnded)
        </dd>
    </dl>
</div>
<div>
    <a class="btn btn-dark" asp-action="Index">Back to List</a> &nbsp;
    <a asp-action="Edit" class="btn btn-warning" asp-route-id="@Model?.Id">Edit</a>
</div>
